---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Centro Renacer Quillota - Solidaridad, Ecología e Inclusión" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body class="bg-slate-50 text-slate-800">
		<slot />
	</body>
</html>

<style is:global>
	/* Importamos una fuente bonita */
	@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap');
	
	body {
		font-family: 'Outfit', sans-serif;
	}
</style>